body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2018/02/08/02/06/background-3138516_960_720.jpg");
  background-color: #9FE2BF;
  /* background-size: auto; */
  background-repeat:no-gitrepeat; /* Do not repeat the image */

}
/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28a745;
  font-weight: bold;
}  */
.font-white-bold {
  color: #ffffff;
  font-weight: bold;
}
.font-white {
  color: #ffffff;
}
.font-black {
  color: black;
  font-weight: bold;
  font-size: small;
}
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #6c757d;
}
.tab-pane .fade .nav-item .nav-link {
  color: #ffffff;
}
.bg-green {
  background-color: #28a745;
}
.font-blackbig {
  color: black;
  font-weight: bold;
  font-size: medium;
}
.bg-box {
  background-color: #343a40;
}
textarea {
  width: 100%;
  height: 100%;
  text-align: left;
}
input {
  width: 80px;
  height: 20px;
}
.Nwidth{
   width: 120px;
 
}
.spantextarea {
  display: flex;
  flex-wrap: wrap;
}
.cardwidth {
  width: 100%;
  height: 100%;
}
.cardwidth {
  width: 100%;
  height: 100%;
}
.cardheader {
  text-align: left;
  color: black;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
.modalreader {
  text-align: center;
  color: black;
  margin: 1px;
  padding: 1px;
  font-weight: bold;
}
.imgwh {
  width: 0.2em;
  height: 0.2em;
}

/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #28a745;
  font-weight: bold;
} */
.nav-link {
  color: #fff;
  background-color: #28a745;
  font-weight: bold;
}
.font-white-bold {
  color: #ffffff;
  font-weight: bold;
}
.font-white {
  color: #ffffff;
}
.font-black-bold {
  color: black;
  font-weight: bold;
}
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #6c757d;
}
.tab-pane .fade .nav-item .nav-link {
  color: #ffffff;
}
.bg-green {
  background-color: #28a745;
}
.form-control1 {
  width: 200px;
  height: 150px;
}
.row {
  width: 500px;
}
.adjmargin {
  margin: 0.01px;
  padding: 0.08px;
  /* border-color: black;
  border-style: solid; */
}

.modal-dialog {
  border-color: black;
  border-style: solid;
  border-bottom-left-radius: 3px;
}
.showerrormsg {
  color: red;
  background-color: white;
  font-size: small;
  vertical-align: bottom;
  padding-top: 0em;
  margin-top: 0em;
}
.lblHeader {
  width: 100%;
  text-align: center;
}

.font-white-italic {
  color: #ffffff;
  font-size: small;
  font-style: italic;
}
.font-white-small {
  color: #ffffff;
  font-size:10px;
  font-style:normal
}
.font-white-medium {
  color: #ffffff;
  font-size:13px;
  font-style:normal
}